@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background:url(../images/weather-unsplash_1_50-min.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

header {
    height: 50px;
    display: flex;
    justify-content: center;

}

form {
    padding: 15px 0;
    border-bottom: 1.5px solid #fff;
}

button {
    font-size: 1.2rem;
    width: 100%;
    margin: 12px 0;
    border-radius: 3px;
    color: #fff;
    background-color: black;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    border: 3px solid #fff;
    font-size: 1.2rem;
    color: black;
    text-align: center;
    background-color: transparent
}

.weather-info {
    border: 3px solid #fff;
    padding: 10px;
    margin: 10px auto 20px auto;
}

.container{
    padding: 20px 70;
    color: white;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


